<!DOCTYPE html>
<html>
    <head>
        <title>GLOBAL FREE AUDIO PLAYER</title>

        <link rel="stylesheet" href = "/static/bootstrap.css">

    </head>
    <body>
        <div align=center>
            <div class = jumbotron>

        <h1>GLOBAL FREE AUDIO PLAYER</h1>
        <br>
            <audio controls source src = {{toplay}} type = "audio/mp3">Your browser does not support embedded audio</audio>
                <br><br>
<p>Here is a link to this track:</p>
<p><a href = {{toplay}}>{{toplay}}</a></p>
<p>Press the play arrow on the viewer to start playing your audio.</p>
<br>
<form action = "/newsplayer">If there's ever a problem loading, or to start the next audio, press:
<br><br>
<input type="submit" value = "Next Audio" />
</form>
<br>
</div>
<br><br>

<div align = left>

            <ul>
<li><h4>The current broadcast selection is from: <em>{{ur}}</em></h></li>
<li><h5>This is number {{item}} of {{length}} items in the playlist.</h5></li>
<li><h5>You can choose another track from your playlist by pressing 'Next Audio'.</h5> </li>
<li><h5>This randomized approach allows users to experience different views of a chosen subject.</h5></li>
</ul>
</div>

<div align = center>
    <form action = "/download">To download all of these audio tracks as as .m3u playlist file, which will play in most media players:
    <br><br>
    <input type="submit" value = "Download" />
    </form>
    </div>

<br><br>

<div class="container" align = center>
        <div class="jumbotron"><em>


For playlists of cc-licensed music, try <a href = "http://mystified131.pythonanywhere.com/">the Internet Archive Playlist Generator</a>.<br>
For live generative soundscapes that you can control, try <a href = "http://www.thomasparksolutions.com">Generative Soundscape Radio</a>.<br>
To listen to generative piano iterations, visit <a href = "http://www.thomasparksolutions2.com">Piano Iterations</a>.<br>
For an embedded player presenting any of a large quantity of original cc-licensed audio works, try <a href = "http://www.thomasparksolutions3.com">the Thomas Park Audio Explorer</a>.<br>
To listen to and remix generative dub tracks, listen to <a href = "http://www.thomasparksolutions4.com">Endless Dub Radio</a>.<br>
To search for another visual items playlist, go to <a href = "http://www.thomasparksolutions5.com">the Internet Archive Visual Aggregator</a>.<br>
To search for media by subject rather than orientation, try <a href = "http://www.thomasparksolutions6.com">Global Free Audio</a>.<br>
To listen to generative vocal pieces, try <a href = "http://www.thomasparksolutions7.com">The Heliades</a>.<br>
For continual Jack-Danger-inspired grooves, jam at <a href = "http://www.thomasparksolutions8.com">Beat Butcher Radio</a>.<br>
For a continual generative stream based on Terry Riley's masterpiece "In C", try <a href = "http://www.thomasparksolutions9.com">Radio In C</a>.<br>
</em>
  <br>
You may contact Thomas Park directly at: mystifiedthomas@gmail.com . Thank you.
<br>
  </div>
</body>

  <foot align = center>
    <h6>Public Domain Mark 1.0</h6>
    <br><br>
    </foot>

    </html>